= render 'search/form'
h1 Questions
= render 'question_titles', questions: @questions
 
= subscribe_to "/questions"

script type="text/template" id="question_template"
  li id == "question_<%= question.id %>"
    h2 == jst link_to "<%= question.title %>", question_path("<%= question.id %>")
