div class="nested_form_blueprint"
  = render 'answers/form', answer: Answer.new(question: @question)
= render @question    
= render Answer.new(question: @question)
h2 Answers
= render 'answers/answers', answers: @question.answers
