<% var id = answer.id ? answer.id : 'new'; %>
div class="answer" id="#{ 'answer_<%= id %>'.html_safe }"
  div class="answer_body"
    <%= answer.body %>
  ul class="attachments"
    <% _.forEach(answer.attachments, function(attachment) { %>
      li = link_to "<%= attachment.file.identifier %>".html_safe, "<%= attachment.file.url %>".html_safe
    <% }); %>

  <% if (answer.id) { %>
  div class="votable_wrapper"
    div class="votable" data-votable="#{'Answer_<%= answer.id %>'.html_safe}"
      <% if (answer.can_be_voted_by_cur_user) { %>
        <% if (answer.voted_by_cur_user) { %>
          div class="rating" = "<%= answer.rating %>".html_safe
          - remove_vote_path = vote_path("answer.vote.id")
          <% var removeVotePath = "#{remove_vote_path}".replace('answer.vote.id', answer.vote_of_cur_user.id); %>
          = link_to 'remove vote', "<%= removeVotePath %>".html_safe, method: :delete, remote: true
        <% } else { %>
          - vote_up_path = votes_path( vote: { votable_id: 'answer.id', votable_type: 'Answer', up: true } )
          <% var voteUpPath = "#{vote_up_path}".replace('answer.id', answer.id); %>
          = link_to 'vote up', "<%= voteUpPath %>".html_safe, method: :post, remote: true
          div class="rating" = "<%= answer.rating %>".html_safe
          - vote_down_path = votes_path( vote: { votable_id: "answer.id", votable_type: "Answer", up: false } )
          <% var voteDownPath = "#{vote_down_path}".replace('answer.id', answer.id); %>
          = link_to 'vote down', "<%= voteDownPath %>".html_safe, method: :post, remote: true
        <% } %>
      <% } else { %>
        div class="rating" = "<%= answer.rating %>".html_safe
      <% } %>
  <% } %>

  <% if (answer.id) { %>
    <% if (answer.best) { %>
      div class="answer_best_true" 
        <% if (answer.question_belongs_to_cur_user) { %>
          = (link_to "\u2714", update_best_answer_path( 'answer.id', answer: {best: false} ), method: :patch, remote: true).sub!("answer.id", "<%= answer.id %>").html_safe 
        <% } else { %>
          = "\u2714"
        <% } %>
    <% } else { %>
      div class="answer_best_false" 
        <% if (answer.question_belongs_to_cur_user) { %>
          = (link_to "\u2B1C", update_best_answer_path( 'answer.id', answer: {best: true} ), method: :patch, remote: true).sub!("answer.id", "<%= answer.id %>").html_safe
        <% } else { %>
          = "\u2B1C"
        <% } %>
    <% } %>
  <% } %>

  <% if (answer.id && answer.belongs_to_cur_user) { %>
    = link_to('Edit', '#', data: { action: 'edit_answer' }) 
  <% } %>
  <% if (!answer.id && answer.belongs_to_cur_user) { %>
    = link_to('Answer', '#', data: { action: 'new_answer' }) 
  <% } %>
  div class="answer_form_wrapper"
