div class="nested_form_blueprint"
  div [
    id="answer_attachments_fields_blueprint"
    style="display: none"
    data-blueprint="#{'<div class=&quot;fields&quot;><div class=&quot;field&quot;><label for=&quot;answer_attachments_attributes_new_attachments_file&quot;>File</label><input type=&quot;file&quot; name=&quot;answer[attachments_attributes][new_attachments][file]&quot; id=&quot;answer_attachments_attributes_new_attachments_file&quot; /></div><input type=&quot;hidden&quot; value=&quot;false&quot; name=&quot;answer[attachments_attributes][new_attachments][_destroy]&quot; id=&quot;answer_attachments_attributes_new_attachments__destroy&quot; /><a class=&quot;remove_nested_fields&quot; data-association=&quot;attachments&quot; href=&quot;javascript:void(0)&quot;>Remove file</a></div>'.html_safe}"]
