<% if @answer.errors.present? %>
  $(".answer_errors").empty();
  <% @answer.errors.full_messages.each do |msg| %>
    $(".answer_errors").append("<li> <%= j msg %> </li>");
  <% end %>
<% else %>
  $(".answer_errors").empty();
  $(".answers").html("<%= j render @answer.question.answers %>");
  $(".answer_controls [data-action='create_answer']").show();
  $(".answer_controls .answer_form_wrapper").hide().find("textarea").val('');
<% end %>
